.EditUser {
  position: relative;
}
.EditUser .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  max-width: 300px;
}
.EditUser img {
  box-shadow: 0 0 26px 3px tomato;
  border-radius: 50%;
  max-width: 100px;
  border: 2px solid tomato;
  display: inline-block;
  margin-bottom: 20px;
}
.EditUser .custom-file {
  max-width: 200px;
  margin-left: 5px;
}
.EditUser .custom-file .Input{
  display: none;
}
.EditUser .custom-file .custom-file-label {
  cursor: pointer;
}
.EditUser .custom-file .custom-file-label:after {
   display: none;
}